<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="cubaPlugInSubsystem" transaction-type="RESOURCE_LOCAL">

        <class>com.ulinc.cuba.plugin.entity.com</class>
    </persistence-unit>
</persistence>
